<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapclass | AI powered Attendance System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/logo.png')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="Snapclass Logo" style="height:32px">
            <div class="logo-text">SnapClass</div>
        </div>

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#features">Features</a>
            <a href="#journey">Journey</a> 
            <a href="#tech-stack">Tech Stack</a>
        </div>

        <div class="nav-cta">
            <a href="https://snapclass-maiin.streamlit.app/" class="btn-pill">
                Start AI Attendance
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd"></path></svg>
            </a>
        </div>




    </nav>
</body>
</html>